body{
   font-family: 'Roboto', sans-serif;
   display: flex;
   align-self: center;
   align-content: center;
   justify-content: center;
   background-image: url("background-2426328.jpg");
   background-size: cover;
}
.menu-login{
   margin-top: 90px;
   display: flex;
   height: 450px;
   width: fit-content;
   justify-content: center;
   align-content: center;
   backdrop-filter: blur(2px);
   box-shadow: rgb(21, 70, 116) 3px 3px 15px;
}
section .imagen{
   background-color: rgba(68, 14, 130, 0.794);
   justify-content: center;
   align-content: center;
   text-align: center;
   padding: 10px;
}
img{
   width: auto;
   height: 300px;
}




.menu-2{
   background-color: rgba(245, 245, 245, 0.634);
   padding: 0px 40px;
}
.menu-2 h2{
   font-size: xx-large;
   font-weight: 900;
}

#Email{
   border: thistle 3px solid;
   border-radius: 3px;
   height: 30px;
   width: 250px;
}
#password{
   border: thistle 3px solid;
   border-radius: 3px;
   height: 30px;
   width: 250px;
}
#button{
   background-color: rgb(14, 65, 99);
   color: white;
   border: none;
   border-radius: 3px;
   height: 30px;
   width: 150px;
}
#button:hover{
   background-color: rgb(21, 70, 116);
   transform: translateY(-5px);
   transition-duration: .4s;
}
